<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">

  <title>Manage Your Money: Edit User</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MYM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Expenses
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Add Expense</a></li>
            <li><a class="dropdown-item" href="#">View Expenses</a></li>
            <li><a class="dropdown-item" href="#">Modify Expense</a></li>
            <li><a class="dropdown-item" href="#">Delete Expense</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Items
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Add Item</a></li>
            <li><a class="dropdown-item" href="#">View Items</a></li>
            <li><a class="dropdown-item" href="#">Modify Item</a></li>
            <li><a class="dropdown-item" href="#">Delete Item</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Add Category</a></li>
            <li><a class="dropdown-item" href="#">View Categories</a></li>
            <li><a class="dropdown-item" href="#">Modify Category</a></li>
            <li><a class="dropdown-item" href="#">Delete Category</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/adduser">Add User</a></li>
            <li><a class="dropdown-item" href="/getalluser">View Users</a></li>
            <li><a class="dropdown-item" href="#">Modify User</a></li>
            <li><a class="dropdown-item" href="#">Delete User</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container container my-5 col-md-7" style="border:1px solid black;">
  <h4 class="text-center">Edit User</h4>
  <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post" th:object="${user}">
    <input type="hidden" name="userId" value="${user.userId}">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name
      </label> <input type="text" class="form-control" name="firstName" th:value="${user.firstName}">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name
      </label> <input type="text" class="form-control" name="lastName" th:value="${user.lastName}">
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">DOB
      </label> <input type="date" class="form-control" name="dob" th:value="${user.dob}">
    </div>
    <div class="mb-3">
      <label for="contactNo" class="form-label">Contact Number
      </label> <input type="text" class="form-control" name="contactNo" th:value="${user.contactNo}">
    </div>
    <div class="mb-3">
      <label for="emailID" class="form-label">Email ID
      </label> <input type="email" class="form-control" name="emailID" th:value="${user.emailID}">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender
      </label>
      <select class="form-select" name="gender" th:value="${user.gender}">
        <option >Select Gender</option>
        <option value="Male" th:selected="${genderSelectMale}">Male</option>
        <option value="Female" th:selected="${genderSelectFemale}">Female</option>
        <option value="Unspecified" th:selected="${genderSelectUnspecified}">Unspecified</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Is Admin
      </label>
      <input class="form-check-input" type="radio" name="userType" value="Admin" th:checked="${isAdmin}">
      <label class="form-check-label" for="userType">
        Yes
      </label>
      <input class="form-check-input" type="radio" name="userType" value="General" th:checked="${isGeneral}">
      <label class="form-check-label" for="userType">
        No
      </label>
    </div>
    <textarea rows="10" cols="50">
      "${genderSelectMale}";
      "${genderSelectFemale}";
      "${genderSelectUnspecified}";
      "${isAdmin}";
      "${isGeneral}";
    </textarea>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
-->
</body>
</html>